{% extends 'base.html' %}
{% load offer_tags %}

{% block extrahead %}
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAA0okLrKZhiNabzBlBE2rJHRQRB3d2m0eE07bem--pb7XcM7LibBS3sJZUsLLOaucwIRuf8Q4305bVSw"></script>

<script type="text/javascript">
google.load("maps", "2");
jQuery(function() {
    var location_source = jQuery('#id_location_source').val();
    var location_desc;
    var update_location_desc = function(location_desc) {
        jQuery('#location-desc').html(location_desc);
    };
    var update_estimated_location_desc = function() {
        var lat = jQuery('#id_latitude').val();
        var lon = jQuery('#id_longitude').val();
        update_location_desc(' km of your <a href="" id="estimated-location">estimated location</a>');
        jQuery('#estimated-location').click(function() {
            jQuery('#location-dialog').dialog();
            var userMap = new GMap2(jQuery('#map-placeholder').get(0));
            userMap.setCenter(new GLatLng(lat, lon), 9);
            var userMarker = new GMarker(new GLatLng(lat, lon), {draggable: false});
            userMap.addOverlay(userMarker);
            return false;
        });
    };
    var use_geolocation = function(position) {
        jQuery('#id_latitude').val(position.coords.latitude);
        jQuery('#id_longitude').val(position.coords.longitude);
        update_estimated_location_desc();
        jQuery('#id_location_source').val('browser');
    };
    var geolocation_error = function() {
        console.log('geofail');
    };

    if (location_source == 'userprofile') {
        update_location_desc(' km of <a href="{% url edit-userprofile %}">your location</a>');
    } else {
        if (location_source == 'ip') {
            update_estimated_location_desc();
        } else {
            jQuery('#id_latitude').val('52.63639666');
            jQuery('#id_longitude').val('1.29432678223');
            update_location_desc(' km of Norwich City Centre. Your don\'t have a location set in your userprofile, and I was unable to guess one, so Norwich it is.');
        }
         
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(use_geolocation, geolocation_error);
        }
    }

    var update_errors = function(errors) {
        var error_output = '<p>The following fields had errors:</p><ul>';
        for (var fieldname in errors) {
            error_output +='<li>'+fieldname+':<ul>';
            for (var i = 0;i<errors[fieldname].length;i++) {
                error_output += '<li>'+errors[fieldname][i]+'</li>';
            }
            error_output += '</ul></li>';
        }
        error_output += '</ul>';
        jQuery('#errors').empty();
        jQuery('#errors').append(error_output);
    }

    function getUrlVars(url) {
        var vars = {};
        var parts = url.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
            vars[key] = value;
        });
        return vars;
    }

    var update_pagination_links = function() {
        jQuery('.pagination-bar a').click(function() {
            var getVars = getUrlVars(this.href);
            page = (getVars.page ? getVars.page : '')
            jQuery.ajax({url: post_url+'?page='+page,
                   type:'POST',
                   data: posted_data,
                   dataType:'json',
                   success: update_offers;
            });
            return false;
        });
    }

    var posted_data;
    var post_url;

    update_offers = function(data) {
        jQuery('#errors').empty();
        if (data.errors) {
            update_errors(data.errors);
        } else {
            jQuery('#offer-list').html(data.html);
            update_pagination_links();
        }
    };

    jQuery('#offer-filter-form').ajaxForm({
        dataType:'json',
        success: update_offers,
        beforeSubmit: function(data) {
            post_url = this.url;
            posted_data = data;
        }
    });

});
</script>
{% endblock %}

{% block content %}
<div id="location-dialog" style="display:none">
      <div style="height:200px;" id="map-placeholder"></div>
        <p>This is my best guess at your location. If it's wrong you can change it 
        {% if request.user.is_authenticated %}
        in your <a href="{% url edit-userprofile %}">user settings</a>.
        {% else %}
        by logging in and changing your user settings.
        {% endif %}
        </p>
</div>

<h2>Search Offers</h2>

<form id="offer-filter-form" action="{{ request.path }}" method="post">
<div id="errors">
{% if form.errors %}
<p>Sorry, we couldn't make sense of the data you submitted:</p>
<ul>{{ form.errors }}</ul>
{% endif %}
</div>
<p>Tags: {{ form.tags }}</p>
<p>Watched users only: {{ form.watched_users }}</p>
<p>Within about {{ form.max_distance }}<span id="location-desc"> km</span></p>
{{ form.latitude }}
{{ form.longitude }}
{{ form.location_source }}
<input type="submit" value="Search" />
</form>

<div id="offer-list">
{% if request.REQUEST.keys %}
{% include "offers/list_offers_nochrome.html" %}
{% endif %}
</div>
{% comment %}
<div id="offer-list">
    {% for offer in page.object_list %}
    {% include "offers/offer_listing.html" %}
    {% endfor %}
    {% pagination_bar %}
</div>
{% endcomment %}

{% endblock %}
