{% extends "base.html" %}

{% block content %}
<form method="post" action="">

{% if form.fields.subscription.queryset %}
    {{ form.errors }}
    <p>Select an email list to send your message to:</p>
    {{ form.subscription }}
    <p><a href="{% url add-subscription %}">Add an email list</a> (you need to be subscribed to the list first)</p>

    <p>{{ form.subject.label }}: {{ form.subject }}</p>

    <p>{{ form.message.label }}: {{ form.message }}</p>

    <input type="submit" value="Send" />
    </form>
{% else %}
    <p><a href="{% url add-subscription %}">Add an email list</a> (you need to be subscribed to the list first)</p>
{% endif %}
{% endblock %}
