{% extends "base.html" %}

{% block extrahead %}
<script type="text/javascript">
jQuery(function() {
    var offer_hash = '{{ offer.hash }}';
    if (!jQuery('ul.errorlist').length) {
        jQuery('#message-fields').hide();
    }
    jQuery('#id_message_type').change(function() {
        jQuery.getJSON('/email-lists/get-message/'+jQuery(this).val()+'/'+offer_hash+'/', null, function(data) {
            jQuery('#id_subject').val(data.subject);
            jQuery('#id_message').val(data.message);
            jQuery('#message-fields').show();
        });
    });
});
</script>
{% endblock %}

{% block content %}
<form method="post" action="">

{% for message in offer.emailmessage_set.all %}
    {% if forloop.first %}
    <p>You've previously sent details of this message to:</p>
    <ul>
    {% endif %}

    <li>{{ message.subscription.email_list.name }} on {{ message.datetime_sent }} ({{ message.message_type }})</li>
    {% if forloop.last %}
    </ul>
    {% endif %}
{% endfor %}


{% if form.fields.subscription.queryset %}
    {{ form.errors }}
    <p>Select an email list to send your message to:</p>
    {{ form.subscription }}
    <p><a href="{% url add-subscription %}">Add an email list</a> (you need to be subscribed to the list first)</p>

    <p>Message type: {{ form.message_type }}</p>

    <div id="message-fields">
    <p>{{ form.subject.label }}: {{ form.subject }}</p>

    <p>{{ form.message.label }}: {{ form.message }}</p>

    <input type="submit" value="Send" />
    </div>
    </form>
{% else %}
    <p><a href="{% url add-subscription %}">Add an email list</a> (you need to be subscribed to the list first)</p>
{% endif %}
{% endblock %}
