{% extends "base.html" %}

{% block content %}
<form method="post" action="">

{% for message in offer.emailmessage_set.all %}
    {% if forloop.first %}
    <p>You've previously sent details of this message to:</p>
    <ul>
    {% endif %}

    <li>{{ message.subscription.email_list.name }} on {{ message.datetime_sent }}</li>
    {% if forloop.last %}
    </ul>
    {% endif %}
{% endfor %}


{% if form.fields.subscription.queryset %}
    {{ form.errors }}
    <p>Select an email list to send your message to:</p>
    {{ form.subscription }}
    <p><a href="{% url add-subscription %}">Add an email list</a> (you need to be subscribed to the list first)</p>

    <p>{{ form.subject.label }}: {{ form.subject }}</p>

    <p>{{ form.message.label }}: {{ form.message }}</p>

    <input type="submit" value="Send" />
    </form>
{% else %}
    <p><a href="{% url add-subscription %}">Add an email list</a> (you need to be subscribed to the list first)</p>
{% endif %}
{% endblock %}
