{% extends 'base.html' %}

{% block content %}
<h2>{{donor.get_best_name}}</h2>

<p>{{ donor.info|linebreaks }}</p>

<p><a href="{% url list-offers %}?donor={{ donor.user.username}}">{{ offers.count }} offer{{ offers.count|pluralize }}</a></p>

{% if user.is_authenticated %}
    {% if donor in user.get_profile.watched_users.all %}
    <p><a href="{% url unwatch-user donor.id %}">Stop watching this user's offers</a></p>
    {% else %}
    <p><a href="{% url watch-user donor.id %}">Watch this user's offers</a></p>
    {% endif %}
{% endif %}

<p style="text-align:right;"><a href="{% url user-offers-rss donor.user.username %}"><img src="/media/rss.png" alt="RSS feed" /> RSS</a></p>

{% endblock %}
