{% extends "base.html" %}

{% block content %}
<h2>Offer details</h2>
<form enctype="multipart/form-data" method="post" id="edit-thing" action="">{% csrf_token %}
{% if form.errors %}
    <div class="errors">
        <p>Please correct the following errors:</p>
        {{ form.errors}}
    </div>
{% endif %}

<fieldset>
<p class="form-help">Please enter a brief description of what you're offering, eg "Ironing board", "Pentium 4 CPU and motherboard".</p>
<p><label for="id_title">Title:</label>{{ form.title }}</p>

<p class="form-help">Please enter any further details about what you're offering, eg. what it looks like, the condition it's in, anything else people might want to know about it.</p>
<p><label for="id_description">Description:</label>{{ form.description }}</p>
<p class="form-help">Please untick the box below if for some reason you don't want the item to be listed as available at the moment.</p>
<p><label for="id_live_status">Currently available?</label>{{ form.live_status }}</p>
<p class="form-help">Please tick the box below to indicate that this item has been taken.</p>
<p><label for="id_taken_status_donor">Taken:</label>{{ form.taken_status_donor }}</p>
</fieldset>

<fieldset id="thing-images">
<p class="form-help">You may upload photos of your stuff below.</p>
{% for thingimage_form in thingimage_formset.forms %}
    <div class="thing-image-container">
        <div class="thing-image-img-container">
            <img class="thing-image-img" src="{{ thingimage_form.initial.image.url }}" alt="{{ thingimage_form.initial.caption }}" />
        </div>
    {{ thingimage_form.as_p }}
    </div>
{% endfor %}
{{ thingimage_formset.management_form }}

</fieldset>

<input type="submit" value="Submit"/>
</form>
{% endblock %}
