{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{user.username}}'s offers:</h2>

{% with user.get_profile.offer_set.live.count as live_offers_count %}
<p>You are currently offering {{ live_offers_count }} item{{ live_offers_count|pluralize }}.</p>
{% endwith %}

<p><a href="{% url add_offer %}">Add a new offer</a></p>
{% if user.get_profile.offer_set.all %}
<table>
<tr>
<th>Title</th>
<th>Description</th>
<th>&nbsp;</th>
</tr>
{% for offer in user.get_profile.offer_set.all %}
<tr>
<td><p>{{offer.title}}</p></td>
<td><p>{{offer.description|truncatewords:10}}</p></td>
<td><a href="{% url edit_offer offer.id %}">Edit</a></td>
<td><a href="{% url delete_offer offer.id %}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
