{% extends 'base.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2>{{user.username}}</h2>

{% with user.get_profile.thing_set.live.count as live_things_count %}
<p>Currently has <a href="{% url user_offer_list user.username%}">{{ live_things_count }} offer{{ live_things_count|pluralize }}</a>.</p>
{% endwith %}

{% endblock %}
