body {
    font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
    margin:0px;
    padding:0px;
}

#masthead {
    background-color:#cc8;
}

#masthead h2 {
    text-align:right;
    margin:0px;
    padding:3px;
}

#container {
    margin:12px;
}

table {
    border:1px solid #ccc;
    border-collapse:collapse;
}

td, th {
    border:1px solid #ccc;
margin:0;
padding:3px;
}

th {
    text-align:left;
}

td p {
    margin:0;
}

.geo {
    display:none;
}

div.thumb {
    float:left;
    margin-right:5px;
    width:128px;
    height:128px;
    background-color:#eee;
    border:1px solid #ccc;
    text-align:center;
}

div.thumb a {
    height:128px;
    width:128px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    line-height: 128px;
}

div.thumb img{
    vertical-align:middle;
    max-width: 128px;
    max-height: 128px;
}

div.small-thumb {
    width:80px;
    height:80px;
    background-color:#eee;
    border:1px solid #ccc;
    text-align:center;
}

div.small-thumb a {
    height:80px;
    width:80px;
    text-align: center;
    vertical-align:middle;
    display:table-cell;
    line-height: 80px;
}

div.small-thumb img{
    vertical-align:middle;
    max-width: 80px;
    max-height: 80px;
}

#add-image {
    clear:left;
}

#image-dialog {
    text-align: center;
}

#image-dialog img {
    max-width:450px;
    max-height:450px;
}

.light-row {
    max-width:750px;
    min-height:80px;
    margin:0px;
    padding:4px;
    background-color: #eee;
}

.dark-row {
    max-width:750px;
    min-height:80px;
    margin:0px;
    padding:4px;
    background-color: #ddd;
}

.light-row h4 {
    margin:0px 4px 8px 0px;
}
.dark-row h4 {
    margin:0px 4px 8px 0px;
}
