{% extends 'base.html' %}

{% block content %}

<h4>Welcome. At the moment this website is in development so it won't be of any use to you yet. I hope you'll check back again another time though.</h4>
<p>Welcome to sharestuff.org.uk.</p>

<h4>What is this thing?</h4>

<p>This website is a facility for people to share stuff they don't want to keep. Think of it as a kind of web 2.0 of <a href="http://uk.freecycle.org/">freecycle</a>. Or <a href="http://www.ebay.co.uk">ebay</a> for free stuff. Or <a href="http://thepiratebay.org/">The Pirate Bay</a> for physical objects.</p>

<h4>How does it work?</h4>

<h5>Offering stuff</h5>

<p>Got clutter? Do you share your home with unused computer hardware, toasters, clothes, musical instruments... stuff that's cluttering up your life? Maybe somebody else would use, appreciate or even love your old stuff. List your stuff on this website and you can swap your clutter for a warm feeling of having helped out your fellow human and the environment.</p>

<p>To get started, register on the site and click on "Your stuff".</p>

<h5>Finding stuff</h5>

<p>Anybody can search for stuff. You can search by location, category and description. Once you've found something you want you need to register with the site to contact the person who is offering it.</p>
{% endblock %}
