{% extends 'base.html' %}

{% block content %}

{% if user.get_profile.notification_set.all %}
<h4>Notifications</h4>
{% for notification in user.get_profile.notification_set.all %}
{{ notification.message|safe }}
<hr />
{% endfor %}
{% endif %}

<h3>What is this thing?</h3>

<p>ShareStuff is a Freecycle-inspired tool to help you share your unwanted stuff with your community. At the moment it's still in development. It looks kind of horrible and has some rough edges, which I hope to fix at some point soon. It's already usable and useful though, so feel free to register, use it and send me any feedback.</p> 

<p>This website allows you to:</p>

<ul>
<li>Post descriptions and pictures of your spare stuff to the web;</li>
<li>Send details of your offers to email lists like Freecycle, Freegle etc;</li>
<li>See other people's offers.</li>
</ul>

<p>I have various plans for making it do other cool things, but right now I have a house full of tat to get rid of so I'm restricting it to the bare necessities for now.</p>

<p>The source code for the site is freely available <a href="https://github.com/Joeboy/django-sharestuff">here</a>. Feel free to do what you want with it.</p>

{% endblock %}
